.paddinPerso{
  padding-right: 50px;
}

.my-card-header{
  padding:.1rem 1.25rem;
  margin-bottom:0;
  background-color:rgba(0,0,0,.03);
  border-bottom:1px solid rgba(0,0,0,.125)
}

.my-card-body{
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  padding:.50rem
}

.my-card-footer{padding:.25rem 1.25rem;
  background-color:rgba(0,0,0,.03);
  border-top:1px solid rgba(0,0,0,.125)
}
