<!doctype html>
<html lang="fr">
<head>
  <meta Charest="UTF-8">
  <title>AAG</title>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="lib/sha256.min.js"></script>
  <script src="lib/angular-cookies.js"></script>
  <script src="js/config.js"></script>
  <script src="js/controllers/createUser.js"></script>
  <script src="js/controllers/profile.js"></script>
  <script src="js/controllers/login.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/services/userService.js"></script>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="myApp">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="appController">
      <a class="navbar-brand" href="#">Accueil</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#!/profile">Profile</a></li>
          <li class="nav-item"><a class="nav-link">OngletFuture</a></li>
          <li class="nav-item"><button ng-show="disco()" type="submit" ng-click="logout()" class="btn btn-primary">Sign out</button></li>
        </ul>
      </div>
    </nav>
  </header>
    <div class="container" ng-view>

    </div>

  <footer>
  </footer>
</body>
</html>
