<!doctype html>
<html lang="fr">
<head>
  <meta Charest="UTF-8">
  <title>Test AngularJS</title>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="js/config.js"></script>
  <script src="js/controller.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body >
  <header>
    <h1>AlpAdamGram</h1>
    <h4>Welcome on your Smart Share Photos Application</h4>
  </header>
  <div class="row-fluid" ng-app="myApp">
    <nav class="span2">
      <ul class="nav nav-list">
        <li class="nav-header">Menu</li>
        <li><a href="#!/home">Home</a></li>
        <li><a href="#!/test">Formulaire</a></li>
      </ul>
    </nav>
    <div class="span10" ng-view>
    </div>
  </div>
  <footer>
    <p>footer : ////</p>
  </footer>
</body>
</html>
