<div class="container">
  <h3>Welcome on your main page {{user}}</h3>
  <form>
    <div class="form-group">
      <label>  Download your image !  </label>
      <input type="file" file-model = "img" class="form-control-file" >
      <button ng-click="uploadFile()" class = "btn btn-primary">Upload File</button>
    </div>
  </form>
</div>
<div class="container">
  <span class="badge badge-pill badge-dark">{{user}}</span>
  <br>
  <img ng-show="mimetype" ng-src="data:{{mimetype}};base64,{{data}}" class="rounded" height="300" width="300"/>
</div>
