<div class="container">
  <h3>Welcome on your main page {{user}}</h3>
  <form>
    <div class="form-group">
      <label>  Download your image !  </label>
      <input type="file" file-model = "img" class="form-control-file" >
      <button ng-click="uploadFile()" class = "btn btn-primary">Upload File</button>
    </div>
  </form>
</div>
<div class="container">
  <div class="row">
    <div ng-repeat = "image in images" class="col-md-3 ">
      <img ng-show="image" ng-src="data:{{image.mimetype}};base64,{{image.data}}" class="rounded paddinPerso" height="300" width="300"/>
    </div>
  </div>

</div>
